<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999813009139-mr70u9ncmqvg78k8j6eevculq957k0uf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999813009139-mr70u9ncmqvg78k8j6eevculq957k0uf</string>
	<key>API_KEY</key>
	<string>AIzaSyA50Giw0vCZABnfDsXdAauHF0wJ3YqcHaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>999813009139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ca.eCONSTORE</string>
	<key>PROJECT_ID</key>
	<string>econstore-7b317</string>
	<key>STORAGE_BUCKET</key>
	<string>econstore-7b317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999813009139:ios:02971ecabd12e4da72b186</string>
</dict>
</plist>